* {
  margin: 0;
}
.app {
  background-color: #111;
  min-h-screen: 100vh;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #111;
  color: white;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.app {
  background-color: #111;
  min-height: 100vh;
  padding-top: 70px; /* ከሄደሩ በታች እንዲጀምር */
}